<!DOCTYPE >
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Travel Planner</title>
  <style>
    
  </style>
</head>

<body onload="Client.createHTMLContent()">
  <div class="header gray_bg">
    <h1>Travel Planner</h1>
    <nav id="nav_menu">
    </nav>
  </div>
  <div class="main" id="main">
  </div>
  <div class="footer gray_bg">
    <form class="center" name="form1" onsubmit="return Client.handleSubmit(event)">
      <h2>Add your plan here</h2>
      <div class="form-info left">
        My trip to (City name e.g. Paris): <input type="text" name="city">
        Trip starts: <input type="date" id="form_start" name="trip_start">
        Trip ends: <input type="date" id="form_end" name="trip_end">
      </div>
      <button type="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">Save it!</button>
    </form>
    <p>&copy Udacity</p>
  </div>
</body>
</html>
