body {
    color: #2f4f4f;
    background-color: beige;
}
h1{
    font-size: 4em;
    font-style: italic;
}
.center{
    text-align: center;
}
.right{
    text-align: end;
}
.left{
    text-align: left;
}
.small{
    font-size: 12px;
}
.big{
    font-size: 20px;
}
.bold{
    font-weight: bold;
}
